<%- include('partials/head'); -%>
    <section id="containerSend">
        <h2>Bedankt voor het invullen, je antwoorden zijn verzonden!</h2>

        <label>Enquete antwoorden wijzingen?</label>
        <select name="change" id="select_edit">
            <option value="/" selected>Persoonsgegevens</option>
            <option value="/wafs">Web Apps From Scratch</option>
        </select>
        <a id="btn_edit" href="/">Antwoorden wijzigen</a>
    </section>
    <%- include('partials/footer'); -%>