*,
*::after,
*::before {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Poppins:wght@200&display=swap');

:root {
    --color-white: #f2e9e4;
    --color-black: #343a40;
    --color-btn: #94d2bd;
}

body {
    color: var(--color-black);
    font-family: 'Poppins',
        sans-serif;
    background: rgb(0, 95, 115);
    background: -moz-linear-gradient(10deg, rgba(0, 95, 115, 1) 0%, rgba(233, 216, 166, 1) 50%, rgba(0, 95, 115, 1) 100%);
    background: -webkit-linear-gradient(10deg, rgba(0, 95, 115, 1) 0%, rgba(233, 216, 166, 1) 50%, rgba(0, 95, 115, 1) 100%);
    background: linear-gradient(10deg, rgba(0, 95, 115, 1) 0%, rgba(233, 216, 166, 1) 50%, rgba(0, 95, 115, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005f73", endColorstr="#005f73", GradientType=1);
}

fieldset {
    background-color: var(--color-white);
    margin-bottom: 2em;
    border-radius: 0.3em
}

fieldset legend {
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em;
    width: 96%;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 5px;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 0.3em
}

h1 {
    color: var(--color-white);
    text-align: center;
}

h2 {
    font-size: 1.2em;
}

form>div {
    text-align: center;
}

button {
    background-color: var(--color-btn);
    padding: 0.8em;
    border-radius: 0.3em;
    border: 0.2em solid #b8dbcf;
    font-weight: bold;
    color: var(--color-black);
}

/*page send*/
#containerSend {
    height: 60vh;
    text-align: center;
}

footer {
    color: var(--color-white);
    text-align: center;
}